body{
    background: black;
}

h1{
    color:darkred;
    font-size: 40px;
    font-family: fantasy;
    text-align: center;
    padding: 2px;

}

p{
    color:white;
    font-size: 20px;
    font-family:monospace;
    text-align:center;
    padding: 1px;

}

.dracarys{
    width: 1341px;
    height: 450px;

}

strong{
    color:red;
}