@media (max-width: 700px) {
    body {
        background-color: grey;
    }

    h1,
    p,
    strong {
        flex-direction: column;
        font-size: 35px;
    }

    img,
    .dragão {
        flex-direction: row;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}
